Package: solydxee-info
Version: 1.0.8
Architecture: all
Maintainer: Arjen Balfoort <arjenbalfoort@solydxk.com>
Installed-Size: 12
Depends: solydx-system-adjustments-11
Section: admin
Priority: optional
Description: Info package for SolydX EE
 Package intended for the SolydXK Enthusiast's Editions
